footer {
    background-color: black;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-size: 2rem;
    }
}

// Tablet
@media (max-width: 900px) {
  footer {
    padding: 1.8rem 3rem;

    h3 {
      font-size: 1.7rem;
    }
  }
}

// Mobil
@media (max-width: 600px) {
  footer {
    padding: 1.5rem;
    gap: 1.5rem;

    h3 {
      font-size: 1.4rem;
    }
  }
}