#education-page {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 5rem 5rem;
  box-sizing: border-box;
  min-height: calc(100vh - 8rem);
  background: #000;
  color: #fff;

  section {
    width: 100%;
    max-width: 50rem;
    margin: 0;
  }

  h2 {
    margin: 0 0 4rem;
    font-size: 5rem;
    line-height: 1;
    font-weight: 900;
  }

  article {
    padding-left: 2rem;
    border-left: 3px solid #b73097;

    h3 {
      margin: 0 0 0.8rem;
      font-size: 2rem;
    }

    h4 {
      margin: 0 0 0.8rem;
      color: #b73097;
      font-size: 1.2rem;
    }

    h5 {
      margin: 0 0 2rem;
      font-size: 0.95rem;
    }

    p {
      max-width: 40rem;
      margin: 0;
      color: white;
      font-size: 0.95rem;
      line-height: 1.65;
    }
  }

  hr {
    width: 100%;
    max-width: 44rem;
    height: 1px;
    margin: 3rem 0;
    border: none;
    background: black;
  }
}